SQL_DB_USER=
SQL_DB_PASSWORD=
SQL_DB_NAME=
SQL_DB_HOST=
SQL_DB_TLS=
SQL_DB_TRUST_CERT=

GOOGLE_CLIENT_ID=311040587605-hli2r68s7hd43h4i4s5kk1kkpvsqqsfj.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
NEXTAUTH_SECRET=NUYB2urMOUTkIIqTBmcibJrSONUojabSOeiFC5ptU3A=